body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/0.7 Lato;
  color: rgb(255, 255, 255);
}

.container {
  position: relative;
  float: left;
  margin-left: 10%;
}

.container .image {
  width: 169px;
  margin: 23px auto 0;
}

.container .text {
  text-align: center;
  color: rgb(255, 255, 255);
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.text {
  float: left;
}

.text-3 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  position: relative;
  float: left;
  padding: 3px 7px;
  border-radius: 3px;
  background-color: rgba(28, 28, 28, 0.5);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.container-1 {
  z-index: 3;
  width: 209px;
  height: 66px;
  margin-top: 263px;
}

.container-2 {
  clear: both;
  z-index: 13;
  width: 17.4166666666%;
  height: 217px;
  margin-top: 23px;
}

.image-1 {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 800px;
}

.text-1 {
  margin: 17px 0 0 -0.00748%;
  font-size: 2.25em;
  font-weight: 300;
  line-height: 1;
}

.text-2 {
  margin-left: 5.1914999999%;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.38;
}

.text-3 {
  position: relative;
  clear: both;
  z-index: 4;
  margin: 12px 0 0 10%;
  font-size: 1em;
  font-weight: 400;
  color: rgb(247, 247, 247);
}

._button-1 {
  clear: both;
  z-index: 5;
  margin: 20px 0 0 10%;
}

._button-2 {
  z-index: 6;
  margin: 20px 0 0 0.5%;
}

._button-3 {
  z-index: 7;
  margin: 20px 0 0 0.58073%;
}

._button-4 {
  z-index: 8;
  margin: 20px 0 0 0.4987%;
}

._button-5 {
  clear: both;
  z-index: 9;
  margin: 6px 0 0 10%;
}

._button-6 {
  z-index: 10;
  margin: 6px 0 0 0.66667%;
}

._button-7 {
  z-index: 11;
  margin: 6px 0 0 0.69271%;
}